Repository kubestellar/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

pull-infra-validate-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20240802-66b115076
      command:
      - checkconfig
      args:
      - -plugin-config=/home/prow/go/src/github.com/kubestellar/infra/prow/plugins.yaml
  ...

pull-infra-prow-labelsync:
  labels:
    app: label-sync
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20230523-2834e18241
      command:
      - label_sync
      args:
      - --config=/home/prow/go/src/github.com/kubestellar/infra/prow/labels.yaml
      - --orgs=kubestellar
  ...

updates to enable config updater
  prow/config.yaml
Due: none

update check-config stuff
  prow/config.yaml
  prow/jobs/kubestellar/ui/ui-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Update config.yaml
  prow/config.yaml
Due: none

Update plugins.yaml
  prow/plugins.yaml
Due: none

Update labels.yaml
  prow/labels.yaml
Due: pull-infra-prow-labelsync

working on jobs from infra repo to run
  prow/config.yaml
Due: none

Add A2A repository configuration and update related settings
  prow/config.yaml
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
  prow/jobs/kubestellar/infra/infra-periodics.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

fix
  prow/config.yaml
Due: none

Add Prow configuration for docs repository
  prow/config.yaml
  prow/jobs/kubestellar/docs/docs-postsubmits.yaml
  prow/jobs/kubestellar/docs/docs-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Advance builder image for Go 1.24 to patch level 11
  images/build/go-1.24/env
Due: none

Add views of infra jobs
  prow/config.yaml
Due: none

Add presets, just one: preset-ghcr-credentials
  prow/config.yaml
Due: none

Turn on a buncha plugins for ks/infra
  prow/plugins.yaml
Due: none

Tweak images/build/go-1.24/env to provoke build
  images/build/go-1.24/env
Due: none

Upgrade to buildah:v1.40.1
  .prow.yaml
Due: none

Brushed up go-1.24 Dockerfile
  images/build/go-1.24/Dockerfile
Due: none

Dependency updates in go-1.24 Dockerfile
  images/build/go-1.24/Dockerfile
Due: none

Update docker install command for go-1.24
  images/build/go-1.24/Dockerfile
Due: none

fix: switch clone_uri from SSH to HTTPS to resolve permission error
  .prow.yaml
  prow/jobs/kubestellar/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

fix: update Prow GCS browser to use public kubestellar domain
  clusters/prow/manifests/prow/01-gcsweb-public.yaml
  prow/config.yaml
Due: none

feat: standardize prow plugins to org-wide configuration
  prow/plugins.yaml
Due: none

Expand label sync to all repos and add KubeStellar-specific labels
  prow/jobs/kubestellar/infra/infra-periodics.yaml
  prow/labels.yaml
Due: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

chore: remove stale kcp-dev artifacts and expand label sync
  prow/jobs/kcp-dev/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-postsubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits-oci.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
  prow/jobs/kubestellar/infra/infra-periodics.yaml
  prow/kcp-config.yml
  prow/labels.yaml
Due: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

fix: sync labels to all kubestellar org repos and update image
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

fix: sync labels to all kubestellar org repos and update image (#33)
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

fix: remove duplicate kind/bug label from kubestellar org section
  prow/labels.yaml
Due: pull-infra-prow-labelsync

fix: remove duplicate kind/bug label from kubestellar org section (#34)
  prow/labels.yaml
Due: pull-infra-prow-labelsync

fix: use GitHub App auth for label_sync job
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

fix: use GitHub App auth for label_sync job (#35)
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Reduce max_prowjob_age from 28 days to 7 days
  prow/config.yaml
Due: none

Reduce max_prowjob_age from 28 days to 7 days (#36)
  prow/config.yaml
Due: none

Path conditions:
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
