Repository kubestellar/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

pull-infra-validate-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20240802-66b115076
      command:
      - checkconfig
      args:
      - -plugin-config=/home/prow/go/src/github.com/kubestellar/infra/prow/plugins.yaml
  ...

pull-infra-prow-labelsync:
  labels:
    app: label-sync
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20230523-2834e18241
      command:
      - label_sync
      args:
      - --config=/home/prow/go/src/github.com/kubestellar/infra/prow/labels.yaml
      - --orgs=kubestellar
  ...

Fix labelsync job: use default cluster and HTTPS clone
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Fix labelsync job: use default cluster and HTTPS clone (#37)
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Fix label_sync image to use working gcr.io version
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Fix labelsync to sync repos sequentially to avoid hangs
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Add require_matching_label for automatic needs-triage on issues
  prow/plugins.yaml
Due: none

ci: skip pr-verifier for dependabot PRs
  .github/workflows/pr-verifier.yaml
Due: none

ci: standardize workflow naming and add common workflows
  .github/workflows/add-help-wanted.yml
  .github/workflows/feedback.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-verifier.yml
  .github/workflows/stale.yml
Due: none

fix: labelsync - remove deleted label and exclude archived repo
  prow/jobs/kubestellar/infra/infra-periodics.yaml
  prow/labels.yaml
Due: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

chore: upgrade Prow components to v20260109-e821f0db6
  clusters/prow/manifests/prow/01-cherrypicker.yaml
  clusters/prow/manifests/prow/01-crier.yaml
  clusters/prow/manifests/prow/01-deck-public.yaml
  clusters/prow/manifests/prow/01-deck.yaml
  clusters/prow/manifests/prow/01-gcsweb-public.yaml
  clusters/prow/manifests/prow/01-gcsweb.yaml
  clusters/prow/manifests/prow/01-ghproxy.yaml
  clusters/prow/manifests/prow/01-hook.yaml
  clusters/prow/manifests/prow/01-horologium.yaml
  clusters/prow/manifests/prow/01-needs-rebase.yaml
  clusters/prow/manifests/prow/01-prow-controller-manager.yaml
  clusters/prow/manifests/prow/01-sinker.yaml
  clusters/prow/manifests/prow/01-statusreconciler.yaml
  clusters/prow/manifests/prow/01-tide.yaml
  prow/config.yaml
  prow/configmap-config-old.yaml
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
  prow/jobs/kubestellar/infra/infra-presubmits.yaml
  prow/jobs/kubestellar/kubeflex/kubeflex-presubmits.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
  prow/jobs/kubestellar/ui/ui-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Add Prow auto-bump periodic job
  prow/autobump-config.yaml
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Add Prow auto-bump periodic job (#45)
  prow/autobump-config.yaml
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Update labelsync to use GitHub App authentication
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Update labelsync to use GitHub App authentication (#46)
  prow/jobs/kubestellar/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

feat: add reusable workflows for org-wide CI standardization
  .github/workflows/reusable-add-help-wanted.yml
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-greetings.yml
  .github/workflows/reusable-pr-verifier.yml
  .github/workflows/reusable-pr-verify-title.yml
  .github/workflows/reusable-scorecard.yml
  .github/workflows/reusable-stale.yml
Due: none

feat: add reusable workflows for org-wide CI standardization (#47)
  .github/workflows/reusable-add-help-wanted.yml
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-greetings.yml
  .github/workflows/reusable-pr-verifier.yml
  .github/workflows/reusable-pr-verify-title.yml
  .github/workflows/reusable-scorecard.yml
  .github/workflows/reusable-stale.yml
Due: none

feat: add reusable spellcheck workflow
  .github/workflows/reusable-spellcheck.yml
Due: none

feat: add reusable spellcheck workflow (#48)
  .github/workflows/reusable-spellcheck.yml
Due: none

fix: correct spellcheck action SHA in reusable workflow
  .github/workflows/reusable-spellcheck.yml
Due: none

🌱 ci: Fix reusable workflow issues and add continue-on-error
  .github/workflows/reusable-add-help-wanted.yml
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-greetings.yml
  .github/workflows/reusable-pr-verifier.yml
  .github/workflows/reusable-stale.yml
Due: none

🐛 fix: Use actual emoji characters in PR title regex
  .github/workflows/reusable-pr-verify-title.yml
Due: none

🐛 fix: Use actual emoji characters in PR title regex (#49)
  .github/workflows/reusable-pr-verify-title.yml
Due: none

Add .DS_Store to .gitignore
  .gitignore
Due: none

Clarify title error is about a special character
  .github/workflows/reusable-pr-verify-title.yml
Due: none

ci: Add Go 1.25 build image and trigger image builds
  images/build/go-1.23/env
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
  images/build/go-1.25/start-docker.sh
  prow/jobs/kubestellar/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

fix: Skip docker commands in DRY_RUN mode for presubmit validation
  .prow.yaml
  images/build/hack/build-image.sh
Due: none

fix: Default to buildah when docker is not available
  images/build/hack/build-image.sh
Due: none

Add .DS_Store to .gitignore (#50)
  .gitignore
Due: none

✨ Add Go 1.25 build image and trigger image builds (#52)
  .prow.yaml
  images/build/go-1.23/env
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
  images/build/go-1.25/start-docker.sh
  images/build/hack/build-image.sh
  prow/jobs/kubestellar/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

🐛 Pin kubebuilder-release-tools to commit hash
  .github/workflows/reusable-pr-verifier.yml
Due: none

🐛 Pin kubebuilder-release-tools to commit hash (#53)
  .github/workflows/reusable-pr-verifier.yml
Due: none

🐛 Fix greetings workflow to properly detect returning contributors
  .github/workflows/greetings.yml
  .github/workflows/reusable-greetings.yml
Due: none

fix: Use skopeo for kindest download when docker unavailable
  images/build/hack/build-image.sh
Due: none

✨ Add informative messages with contribution resources
  .github/workflows/reusable-greetings.yml
Due: none

🐛 Fix greetings workflow to properly detect returning contributors (#54)
  .github/workflows/greetings.yml
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Test: Verify Prow presubmit jobs trigger properly
  README.md
Due: none

Fix editing botch in reusable-pr-verify-title.yml
  .github/workflows/reusable-pr-verify-title.yml
Due: none

🐛 Configure tide for entire kubestellar org
  prow/config.yaml
Due: none

🐛 Configure tide for entire kubestellar org (#58)
  prow/config.yaml
Due: none

🌱 Test: Verify Prow job triggering after hook fix
  README.md
Due: none

🐛 Fix: Use HTTPS clone URI for infra presubmit jobs
  prow/jobs/kubestellar/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Path conditions:
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
